{% extends "main/index.html" %}

{% block title %}Шифрование текста{% endblock %}

{% block content %}
    <div class="form-content">
        <h1 style="margin: 20px 0px;">Шифрование текста</h1>
        <p style="text-align: center;">
            <strong>Шифрование</strong> - это процесс преобразования информации в код, который невозможно прочитать без
            специального ключа. Это широко используется в интернете для защиты данных, передаваемых между
            браузерами и веб-сайтами, а также для защиты конфиденциальной информации, такой как пароли и
            данные кредитных карт.
            <br>
            Существует множество видов шифрования. Симметричное шифрование использует один и тот же ключ для шифрования
            и дешифрования данных. Асимметричное шифрование использует два ключа: один для шифрования и
            другой для дешифрования.
            <br>
            Хэш-функции, такие как MD5, SHA1, SHA256 и SHA512, используются для создания уникального "отпечатка" данных.
            Они широко используются для проверки целостности данных и создания хэшей паролей.
            <br>
            Шифрование работает путем применения математических алгоритмов к данным, преобразуя их в непонятный код.
            Дешифрование происходит обратным образом с использованием ключа.
        </p>
        <form method="post">
            {% csrf_token %}
            <div class="form-field">
                {{ form.text.label_tag }} {{ form.text }}
            </div>
            <div class="form-field">
                {{ form.encryption_type.label_tag }} {{ form.encryption_type }}
            </div>
            <button type="submit" class="form-button">Зашифровать</button>
        </form>
    </div>
    {% if result %}
        <div class="password-result">
            <h2>Результат шифрования:</h2>
            <input type="text" value="{{ result }}" id="password" class="input-password">
            <button onclick="copyPassword()">Копировать</button>
        </div>
    {% endif %}
{% endblock %}