{% extends "main/index.html" %}

{% block title %} Главная {% endblock %}

{% block content %}
    <h2 style="">Безопасность в Интернете: Путеводитель по защите себя и своих данных</h2>
    <div class="first">
        <p>
        Интернет – это огромный мир возможностей, но он также таит в себе множество угроз. Киберпреступники, мошенники
        и другие злоумышленники постоянно ищут способы украсть ваши личные данные, заразить ваши устройства или просто
        испортить вам день.
        <br>
        <br>
        <strong>Важно понимать:</strong>
        <br>
        <strong>Интернет не анонимен:</strong> Ваши действия в сети можно отследить, а вашу личную информацию – украсть.
        <br>
            <strong>Не все, что вы видите в Интернете, является правдой:</strong> Дезинформация,
        фейковые новости и мошеннические сайты – все это распространено в сети.
        <br>
        <strong>Не все люди в Интернете те, за кого себя выдают:</strong> Мошенники могут выдавать себя за других людей,
            чтобы обмануть вас.
        </p>
    </div>
    <h2>Советы по безопасности в Интернете</h2>
    <div class="all-paragraphs">
        <div class="paragraph">
            <h3>1. Осторожность с личной информацией</h3>
            <p>
                Не делитесь излишней личной информацией в социальных сетях, онлайн-играх и на других публичных платформах.
                Внимательно проверяйте настройки конфиденциальности в используемых приложениях и сервисах.
                Ограничьте доступ к своим профилям в социальных сетях.</p>
        </div>
        <div class="paragraph">
            <h3>2. Надежные пароли</h3>
            <p>
                Используйте сложные и уникальные пароли для каждого сайта и приложения,
                такие пароли можно <a href="{% url 'password-gen' %}">сгенерировать</a>
                на нашем сайте.
                Не используйте личную информацию (имена, даты рождения) в паролях.
                Регулярно меняйте пароли, особенно для важных сервисов.
                Рассмотрите возможность использования менеджера паролей для хранения и управления вашими паролями.
            </p>
        </div>
        <div class="paragraph">
            <h3>3. Двухфакторная аутентификация</h3>
            <p>
                Включите двухфакторную аутентификацию (2FA) везде, где это возможно.
                2FA добавляет дополнительный уровень защиты, требуя не только пароль, но и код, отправленный на ваш телефон или email.</p>
        </div>
        <div class="paragraph">
            <h3>4.  Осторожность с ссылками и вложениями</h3>
            <p>
                Не открывайте ссылки и вложения в письмах от неизвестных отправителей.
                Будьте осторожны с ссылками, даже если они пришли от знакомых людей, – их аккаунты могли быть взломаны.
                Проверяйте URL-адреса сайтов перед вводом личной информации.</p>
        </div>
        <div class="paragraph">
            <h3>5. Безопасность Wi-Fi</h3>
            <p>
                Избегайте использования публичных Wi-Fi сетей для работы с личной информацией.
                Если вам необходимо воспользоваться публичным Wi-Fi, используйте VPN-сервис для шифрования вашего трафика.
                Защитите свою домашнюю Wi-Fi сеть надежным паролем.</p>
        </div>
        <div class="paragraph">
            <h3>6. Обновление программного обеспечения</h3>
            <p>
                Регулярно обновляйте операционную систему, браузеры и другие программы.
                Обновления часто содержат исправления уязвимостей, которые могут быть использованы злоумышленниками.</p>
        </div>
        <div class="paragraph">
            <h3>7. Антивирусная защита</h3>
            <p>
                Установите и используйте антивирусное программное обеспечение на всех ваших устройствах.
                Антивирус поможет защитить вас от вредоносных программ, которые могут украсть ваши личные данные.</p>
        </div>
    </div>
{% endblock %}