{% extends "main/index.html" %}

{% block title %} Генератор паролей {% endblock %}

{% block content %}
    <div class="password-generator">
        <h1>Генератор паролей</h1>
        <p style="text-align: center;">
            Генератор сложных паролей необходим для обеспечения безопасности ваших онлайн-аккаунтов. Сложные пароли,
            состоящие из случайного набора символов, цифр и специальных знаков, трудно угадать или взломать.
            Это особенно важно в наше время, когда киберпреступность становится все более распространенной.
            Использование сложных паролей помогает защитить вашу личную и финансовую информацию от
            несанкционированного доступа.
            Генераторы паролей делают процесс создания таких паролей быстрым и простым, обеспечивая
            вашу безопасность в интернете.
        </p>

        <form method="post">
            {% csrf_token %}
            <label for="id_length">Длина пароля: <span id="length-display">{{ form.length.value }}</span></label>
            {{ form.length }}
            <br>
            {{ form.uppercase }} {{ form.uppercase.label_tag }}
            <br>
            {{ form.lowercase }} {{ form.lowercase.label_tag }}
            <br>
            {{ form.special_chars }} {{ form.special_chars.label_tag }}
            <br>
            {{ form.digits }} {{ form.digits.label_tag }}
            <br>
            <button type="submit">Сгенерировать пароль</button>
        </form>
    </div>

    {% if password %}
        <div class="password-result">
            <h2>Ваш сгенерированный пароль:</h2>
            <input type="text" value="{{ password }}" id="password" class="input-password">
            <button onclick="copyPassword()">Копировать</button>
        </div>
    {% endif %}
{% endblock %}
