{% extends "main/index.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="auth-form-container">
        <h1>Регистрация</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-field">
                {{ form.username.label_tag }} {{ form.username }}
            </div>
            <div class="form-field">
                {{ form.email.label_tag }} {{ form.email }}
            </div>
            <div class="form-field">
                {{ form.password1.label_tag }} {{ form.password1 }}
            </div>
            <div class="form-field">
                {{ form.password2.label_tag }} {{ form.password2 }}
            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}
